.project-container {
  /* padding: 20px; */
  font: 1em sans-serif;
}

.header-part {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.project-item:hover {
  outline: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.project-item:active
{
    animation-duration: 0.2s;
    transform: scale(1.1);
    background-color: #eee;
}
.create-button {
  padding:0px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  height: 40px;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.close-button {
  padding:0px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  height: 40px;
}

.multi-select {
  border: 1px solid #ccc;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background: #e0e0e0;
  padding: 3px 6px;
  border-radius: 12px;
}

.tag button {
  background: none;
  border: none;
  margin-left: 4px;
  cursor: pointer;
}

.dropdown {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  z-index: 1000;
}

.item {
  padding: 6px;
  cursor: pointer;
}

.item:hover {
  background: #f0f0f0;
}

#name,#description {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

#startDate,#endDate {
  padding: 8px;
  width: 48%;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-left: 10px;
}

.multi-select-input {
  display:flex;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 4px;
}

.project-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.project-item {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 150px;  
  width: 100%;
  flex-wrap: nowrap;
}
