<div class="project-details">
    <div class="top-bar">
        <h3 class="project-title">{{ projectDetails.name }}</h3>

        <nav class="project-tabs">
            <a (click)="setActive('settings')" [class.active]="activeTab === 'settings'">
                Settings
            </a>

            <a (click)="setActive('board')" [class.active]="activeTab === 'board'">
                Board
            </a>

            <a (click)="setActive('timelogs')" [class.active]="activeTab === 'timelogs'">
                TimeLogs
            </a>

            <a (click)="setActive('others')" [class.active]="activeTab === 'others'">
                Blaa
            </a>
        </nav>
    </div>
    <div class="settings" *ngIf="checkActiveTab('settings')">
        <h2>Settings</h2>
        <div class="statuses-header">
            <h4>Statuses</h4>
            <button class="settingtab" (click)="addsettingstab=true">+</button>
        </div>
        <div class="statuses-popup-backdrop" *ngIf="addsettingstab">
            <div class="statuses-popup">
                <div class="form-group">
                    <h3>Create Status</h3>
                    <label for="name">Status:</label>
                    <input type="text" id="name" [(ngModel)]="createProjectStatus.status" /><br><br>
                    <label for="positon">Position</label>
                    <input type="number" id="position" [(ngModel)]="createProjectStatus.position" /><br><br>
                    <label for="isDefault">Default:</label>
                    <select id="isDefault" [(ngModel)]="createProjectStatus.isDefault">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                    <div class="setting-popup-buttons">
                        <button class="create" (click)="CreateStatus(); $event.stopPropagation()">Create</button>
                        <button class="cancel" (click)="addsettingstab=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="statuses-list">
            <div class="status-item" *ngFor="let status of statuses">
                <div class="status-list">
                    <p>{{ status.status }} (Position: {{ status.position }})</p>
                    <button class="delete-button" (click)="deleteStatus(status.statusId)">Delete</button>
                    <button class="edit-button" (click)="editStatus()">Edit</button>
                </div>
            </div>
        </div>
    </div>